.div {
  width: 500px;
  height: 80px;
  background: red;
  margin-bottom: 50px;
  overflow-x: scroll;
}
.content {
  width: 1500px;
  height: 30px;
  background: yellow;
}
span {
  width: 9%;
  display: inline-block;
}
