@import "../../../styles.scss";

.btn-google{
    background-color: #dc4935;
    color: white;

    i{
        margin-right: 5px;
    }
}

.auth-block{

    h3{
        font-size: 2em;
        font-weight: 600;
        color: $secondary-color;
        margin-bottom: 1em;
        text-shadow: 2px 2px $secondary-lightest-color;
    }

   

    .password-input{
        width: 100%;
        border-top: 1px solid    $secondary-color;
        border-left: 1px solid    $secondary-color;
        border-bottom: 1px solid    $secondary-color;
        border-right: none!important;
        color: black;   
    }

    input{
        width: 100%;
        border: 1px solid  $secondary-color;
     
        color: black;   
    }

    .pass-icon{  
        border-top: 1px solid    $secondary-color;
        border-right: 1px solid    $secondary-color;    
        border-bottom: 1px solid    $secondary-color;
    
        font-size: 1.5em;
        margin: 0;
        padding: 8px 8px 0 0 ;

        cursor: pointer;
        color: $secondary-color;
    }

    .email-alert{
        display: none;
    }

    input:focus{
        box-shadow: none;
    }
    input:focus .input-wrap{
        box-shadow: 0 0 0 0.2rem $secondary-lightest-color;
    }

    .log-in{
        font-weight: 600;
        border: none;
        width: 50%;
        margin-top: 0.5em;
        text-align: center;
        background-color: $secondary-color;
    }
    .log-in:focus{
        box-shadow: 0 0 0 0.1rem $primary-lightest-color;
    }


    .or{
        width: 100%;
        position: relative;
    }

    .or::before{
        position: absolute;
        height: 2px;
        background-color: $secondary-color;
        content: '';
        left: 0;
        bottom: 50%;
        transform: translateY(50%);
        width: 40%;
    }
    .or::after{
        position: absolute;
        height: 2px;
        background-color: $secondary-color;
        content: '';
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        width: 40%;
    }

    .form-group{
        margin-bottom: 50px;
    }

   
}

.redirect,.forgot-password span{
        cursor: pointer;
        color: $secondary-color;
}

.redirect:focus,.forgot-password span:focus{
    outline: none;
}