/* You can add global styles to this file, and also import other style files */


$primary-color: #6C3C8C;
$secondary-color: #fd852e;
$primary-lightest-color:#e1d8e8;
$secondary-lightest-color:#fedac0;
$primary-dark-color:#4a2a62;

.cairo{
font-family: 'Cairo', sans-serif;
}

.archivo{
    font-family: 'Archivo', sans-serif;
}